.about {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 65rem;

    &__tech {
        align-content: center;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        margin-top: $margin-medium;

        &--img {
            height: 8rem;
            margin: $margin-small;
        }
    }

    &__me {
        border-radius: 20rem;
        height: 20rem;
        margin-bottom: $margin-medium;
        width: 20rem;
    }
}

@media (max-width: $mobile-break) {
    .about {
        width: 90%;

        &__tech {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);

            &--img {
                height: 6rem;
                margin: $margin-small;
            }
        }
    }
}