.btn {
    background-color: rgba($color-secondary, 0.5);
    border: 3px solid $color-gray-dark;
    box-sizing: border-box;
    cursor: pointer;
    height: auto;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .25s ease;
    padding: 1.2rem 2rem;

    &:hover {
        border: 3px solid $color-secondary;
        color: $color-gray-dark;
    }

    &--work {
        margin-top: $margin-medium;
        width: max-content;
    }

    &--nav {
        border-bottom: 1px solid rgba($color-black, 0);
        text-decoration: none;
        text-shadow: none;
        transition: all .25s ease;
        
        &:hover {
            border-bottom: 1px solid rgba($color-black, .5);
        }
    }    
}