.work {

    &__job {
        display: flex;
        flex-direction: column;
        height: 20rem;
        transform: translateY(-3.25rem);
        width: 50rem;
    }

    &__container {
        border: 1px solid black;

    }

    &__text {
        // background-color: rgba($color-gray-light, .4);
        border: 1px solid rgba($color-black, .5);
        margin-top: $margin-medium;
        padding: $padding-small;
    }
}

@media (max-width: $mobile-break) {
    .work {

        &__job {
            width: 90%;
        }
    }
}