.work {

    &__job {
        display: grid;
        grid-template-rows: 1fr 1px;
        margin-bottom: $margin-medium;

        & .u-divider--h {
            opacity: 0;
            transition: $fade-in-slow ease-in-out;
        }

        &:hover > .u-divider--h {
            opacity: 1;
        }
    }

    &--link {
        align-items: center;
        display: grid;
        grid-template-columns: 35rem 7rem;

        & i {
            opacity: 0;
            text-align: center;
            transition: $fade-in-slow ease-in-out;
        }

        &:hover > i {
            opacity: 1;
        }
    }
}

@media (max-width: $mobile-break) {
    .work {

        &__job {

            & .u-divider--h {
                opacity: 1;
            }
        }

        &--link {
            grid-template-columns: 30rem 5rem;

            & i {
                opacity: 1;
            }
        }
    }
}